<% include ./partials/_header %>

  <div class="container">
    <h1 class="display-1">404</h1>
    <h2 class="display-5">Page not found!.</h2>
    <p class="text-muted">Sorry, nothing can be found at this URL.</p>
  </div>

<% include ./partials/_footer %>